* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
}

/* ===최상위 컨테이너=== */
.wrap {
  position: relative;
  width: 128rem;
  height: 72rem;
  margin: 0 auto;
  margin-top: 2rem;
}

/* ===레이아웃 영역=== */
.layoutArea {
  position: relative;
  width: 100%;
  height: 91%;
  background: #24242C;
}

/* ===하단바 영역=== */
.bottomBar {
  width: 100%;
  height: 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #151821;
  padding: 0 5rem;
  box-shadow: 0 -7px 7px #292b3559;
  position: relative;
  z-index: 100;
}

.barButtonsArea {
  display: flex;
  gap: 1.7rem;
}

.barButtons {
  width: 7.5rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  background: #292C37;
  color: #8F9194;
  padding: 0.5rem 1rem;
  border: 1px solid #323440;
  border-radius: 0.2rem;
  transition: all 0.2s;
}

.barButtons:hover {
  background: #c52232;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(22, 22, 22, 0.3);
}

.barButtons:hover .bottomBarIcon{
  color: #fff;
}

.bottomBarIcon {
  font-size: 1.7rem;
}

.logoImg {
  height: 3rem;
  margin-top: -1rem;
  margin-right: 16.5rem;
}

.clockArea {
  color: #E6E6E6;
  opacity: 0.7;
}

.timeDisplay {
  font-size: 1.7rem;
  margin-left: 0.6rem;
  font-weight: 500;
}

.staffCallButton {
  font-weight: 700;
  font-size: 1.3rem;
}

/* ===사이드바(진행프로세스)=== */
.progressSidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 4%;
  top: 50%;
  transform: translateY(-50%);
}

.progressSettings {
  color: #fff;
  width: 8rem; line-height: 1.8rem;
  height: 8rem; padding-top: 1.6rem;
  text-align: center;
}
.paymentStep {
  padding-top: 2.7rem;
}
/* 진행완료단계 */
.completedStep {
  background: url("images/completed_shape.png") no-repeat;
  background-size: contain;
}

/* 미완료단계 */
.remainingStep {
  background: url("images/remaining_shape.png") no-repeat;
  background-size: contain;
}

.stepLabel {
  font-size: 1.25rem;
}

/* ===팝업 영역=== */
.popupArea {
  position: absolute;
  width: 84rem;
  height: 54rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.popupBar {
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3d3f4d;
  color: #FFFFFF;
  padding: 2rem;
  position: relative;
  /* box-shadow: 0 10px 10px -5px rgba(60, 4, 4, 0.184); */
  box-shadow: 0 4px 8px rgba(8, 8, 8, 0.027);
  border-radius: 0.5rem 0.5rem 0 0;
}

.popupBarTextCommon {
  font-size: 1.4rem;
}

.popupContent {
  width: 100%;
  height: 92%;
  background: #323440;
  box-shadow: 
  0 1px 1px rgba(0,0,0,0.08), 
  0 2px 2px rgba(0,0,0,0.12), 
  0 4px 4px rgba(0,0,0,0.16), 
  0 8px 8px rgba(0,0,0,0.20);
  border-radius: 0 0 0.5rem 0.5rem;
}

