.mainPosterContainer {
    width: 100%;
    height: 80%;
    padding: 0 3rem;
    overflow-y: scroll;
}

.mainPosterContainer::-webkit-scrollbar {
    display: none;
}

/* #영화별선택# */
.posterGallery {
    display: flex;
    width: 65%;
    justify-content: space-evenly;
    margin: 0 auto;
    flex-wrap: wrap;
    display: none;
}

.posterItem {
    width: 21rem;
    height: 31.5rem;
    background: #ddd;
    margin-top: 3rem;
    cursor: pointer;
}

/* #시간대별선택# */
.scheduleGallery {
    width: 65%;
    height: 25rem;
    display: flex;
    border-bottom: 0.2rem solid #a8a8a8;
    margin-left: 23rem;
    margin-top: 3rem;
    padding: 0 0 2rem 0.5rem;
    /* border: 1px solid red; */

}

.schedulePoster {
    width: 16rem;
    height: 100%;
    background: #ddd;
    background: url("images/베테랑.png") no-repeat;
    background-size: contain;
}

.scheduleSection {
    width: calc(100% - 16rem);
    height: 100%;
    padding-left: 2rem;
}

.movietitle {
    color: #fff;
    font-size: 1.8rem;
}

.timeContainer {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid green; */
}

.timeSlot {
    width: 7.8rem;
    height: 4.2rem;
    line-height: 4.2rem;
    margin: 1rem;
    background-color: #d5d5d5;
    border-radius: 0.3rem;
    font-size: 1.42rem;
    font-weight: bold;
    text-align: center;
    color: #222;
    transition: background-color 0.2s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.timeSlot:hover {
    background-color: #b3b3b3;
    color: #000;
}