<link rel="stylesheet" href="style/keypadFrame.css">
<section class="keypadArea">
    <button type="button" class="key">1</button>
    <button type="button" class="key">2</button>
    <button type="button" class="key">3</button>
    <button type="button" class="key">4</button>
    <button type="button" class="key">5</button>
    <button type="button" class="key">6</button>
    <button type="button" class="key">7</button>
    <button type="button" class="key">8</button>
    <button type="button" class="key">9</button>
    <button type="button" class="key delete"><i class="fa-solid fa-delete-left"></i></button>
    <button type="button" class="key">0</button>
    <button type="button" class="key">재입력</button>
    <input type="submit" class="check" value="확인">
    <!-- <button class="check">확인</button> -->
</section>

<script src="/js/keypadFrame.js"></script>