<link rel="stylesheet" href="style/movieChoiceToggle.css">

<!-- #영화/시간 토글# -->
<section class="toggleContainer">
    <article class="toggleGroup">
        <div id="toggle_movie" class="toggleItem activeToggle">영화별 선택</div>
        <div id="toggle_time" class="toggleItem">시간대별 선택</div>
    </article>
</section>

<script src="/js/movieChoiceToggle.js"></script>