<!DOCTYPE html>
<html lang="ko">

<head>
    <title>Hexagon Cinema</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <!-- icon -->
    <script src="https://kit.fontawesome.com/611c1b2c45.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="style.css">
    <title>payment_Method_Popup</title>
    <style>
        .completePaymentPopup {
            width: 84rem;
            height: 54rem;

            position: absolute;
            left: calc(50% - 42rem);
            top: calc(50% - 27rem - 3rem);

            background-color: #ADADAD;

            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            justify-content: center;
        }

        .popupBar {
            width: 100%;
            height: 4.5rem;
            background-color: #E6E6E6;
        }

        .paymentInfoArea {
            width: 60%;
            height: 50%;

            margin: 4rem 0 1rem 0;
        }

        .paymentCompleteMessage {
            font-size: 2.4rem;
            text-align: center;

            display: block;
        }

        .paymentInfo {
            width: 100%;
            height: 6.5rem;

            background-color: #E6E6E6;

            margin-top: 1rem;
            padding: 0 3rem;

            display: flex;
            align-content: center;
            justify-content: space-between;
        }

        .paymentInfoText {
            font-size: 3.2rem;
            line-height: 6.5rem;
            display: inline-block;
        }

        .printReciptQuestion {
            width: 50%;
            height: 30%;

            display: flex;
            flex-wrap: wrap;

            justify-content: space-evenly;
        }

        .printReciptQuestionBtn {
            width: 15rem;
            height: 5rem;

            font-size: 1.8rem;
        }
    </style>
</head>

<body>
    <div class="wrap">
        <section class="layoutArea">
            <!-- 여기에서 콘텐츠가 삽입됩니다. -->
            <div id="completePaymentPopup" class="completePaymentPopup">
                <div class="popupBar"></div>

                <div id="paymentInfoArea" class="paymentInfoArea">
                    <h2 class="paymentCompleteMessage">결제가 완료 되었습니다.</h2>
                    <div id="paymentPrice" class="paymentInfo">
                        <h3 class="paymentInfoText">금액</h3>
                        <h3 class="paymentInfoText">--원</h3>
                    </div>
                    <div id="discountPrice" class="paymentInfo">
                        <h3 class="paymentInfoText">할인</h3>
                        <h3 class="paymentInfoText">--원</h3>
                    </div>
                    <div id="totalPrice" class="paymentInfo">
                        <h3 class="paymentInfoText">총 금액</h3>
                        <h3 class="paymentInfoText">--원</h3>
                    </div>
                </div>
                <div id="printReciptQuestion" class="printReciptQuestion">
                    <h2 class="paymentCompleteMessage">영수증을 출력 하시겠습니까?</h2>
                    <button id="reciptPrintNo" class="printReciptQuestionBtn">아니요</button>
                    <button id="reciptPrintYes" class="printReciptQuestionBtn">예</button>
                </div>
            </div>
    </div>
    <script>
        const reciptPrintYes = document.getElementById( "reciptPrintYes" );
        const reciptPrintNo = document.getElementById( "reciptPrintNo" );

        reciptPrintYes.addEventListener( "click", () => {
            window.print();
        });
        reciptPrintNo.addEventListener( "click", () => {
            window.location.href = "/printTicket";
        });
    </script>
</body>

</html>