<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <!-- icon -->
    <script src="https://kit.fontawesome.com/611c1b2c45.js" crossorigin="anonymous"></script>
    <title>Document</title>
    <link rel="stylesheet" href="./popupFrame.css">
</head>

<body>
    <section class="wrap">
        <section class="popup">
            <div class="popupBar"></div>
        </section>
        <!-- 하단바 영역 -->
        <section class="downBar">
            <section class="barButtonsArea">
                <button class="barButtons">직원호출</button>
                <button class="barButtons"><i class="fa-solid fa-house"></i></button>
                <button class="barButtons"><i class="fa-solid fa-backward"></i></button>
            </section>
            <img class="logoImg"
                src="https://media.discordapp.net/attachments/1281201387681611874/1282596854453895168/KakaoTalk_20240909_160013502.png?ex=66e097a7&is=66df4627&hm=9345dc8f5ce1e64f459f8eaea53250145d9baacec23a568d130f5b71180c6a8d&=&format=webp&quality=lossless"
                alt="logo">
            <span class="timeArea"><i class="fa-regular fa-clock"></i>시간부분</span>
        </section>
    </section>
</body>

</html>