<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <!-- icon -->
    <script src="https://kit.fontawesome.com/611c1b2c45.js" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="style.css">
    <title>payment</title>
    <style>
        /* #결제/포인트사용# */
        .paymentContainer {
            width: 50%;
            height: 100%;
            margin-left: 50%;
        }

        .paymentHeader {
            width: 100%;
            height: 10%;
            background: #151821;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /* 결제 제목 */
        .paymentTitle {
            font-size: 1.8rem;
            font-weight: 700;
            color: white;
        }

        .paymentImg {
            width: 30rem;
            height: 34rem;
            margin: auto;
            margin-top: 10rem;
        }

        .cardImg {
            background-image: url("./images/card_payment_icon.png");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .pointImg {
            background-image: url("./images/point_usage_icon.png");
            background-repeat: no-repeat;
            background-size: cover;
        }

        /* 결제 금액 */
        .paymentAmount {
            font-size: 1.7rem;
            font-weight: 600;
            background: #f0f0f0;
            border: 1px solid #ccc;
            border-radius: 0.3rem;
            padding: 0.5rem;
            text-align: center;
            margin-left: 1rem;
            outline: none;
            width: 16rem;
        }

        .paymentOptionBox {
            width: 100%;
            height: 90%;
            background: #333333;
            display: flex;
        }

        .paymentOptionStyle {
            width: 50%;
            height: 100%;
            text-align: center;
            line-height: 57rem;
            font-size: 2.4rem;
            font-weight: 700;
            cursor: pointer;
        }

        /* 카드 결제 */
        .cardPayment {
            position: relative;
            width: 100%;
            height: 100%;
            background: #323440;
            border-right: .06rem dotted gray;
        }

        .cardPaymentTouchArea {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: transparent;
            cursor: pointer;
        }

        /* 포인트사용 */
        .pointsUsage {
            position: relative;
            width: 100%;
            height: 100%;
            background: #323440;
        }

        .pointsUsageTouchArea {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: transparent;
            cursor: pointer;
        }

        /* 결제창 > 영화포스터 */
        .paymentPoster {
            position: absolute;
            width: 26rem;
            height: 39rem;
            left: 26%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: url("images/베테랑.png") no-repeat;
            background-size: cover;
        }
    </style>
</head>

<body>
    <!-- ===최상위 컨테이너=== -->
    <div class="wrap">
        <!-- ===레이아웃 영역=== -->
        <section class="layoutArea">
            <!-- ===사이드바 영역=== -->
            <section class="progressSidebar">
                <div class="progressSettings completedStep"><span class="stepLabel">영화<br>선택</span></div>
                <div class="progressSettings completedStep"><span class="stepLabel">시간<br>선택</span></div>
                <div class="progressSettings completedStep"><span class="stepLabel">좌석<br>선택</span></div>
                <div class="progressSettings completedStep paymentStep"><span class="stepLabel">결제</span></div>
            </section>
            <!-- #결제창 내 > 영화 포스터# -->
            <div class="paymentPoster">
                <!-- 영화포스터 -->
            </div>
            <!-- #결제/포인트사용 Box# -->
            <section class="paymentContainer">
                <article class="paymentHeader">
                    <h2 class="paymentTitle">총 결제금액</h2>
                    <input class="paymentAmount" type="text" value="30,000원" readonly>
                </article>
                <article class="paymentOptionBox">
                    <!-- 카드결제 -->
                    <div class="cardPayment paymentOptionStyle">
                        <div id="paymentCard" class="paymentImg cardImg"></div>
                        <div id="cardPaymentTouchArea" class="cardPaymentTouchArea"></div>
                    </div>
                    <!-- 포인트사용 -->
                    <div class="pointsUsage paymentOptionStyle">
                        <div class="paymentImg pointImg"></div>
                        <div id="pointsUsageTouchArea" class="pointsUsageTouchArea"></div>
                    </div>
                </article>
            </section>
        </section>
        <!-- ===하단바 영역=== -->
        <section class="bottomBar">
            <article class="barButtonsArea">
                <button class="barButtons staffCallButton">직원호출</button>
                <button class="barButtons"><i class="bottomBarIcon fa-solid fa-house"></i></button>
                <button class="barButtons"><i class="bottomBarIcon fa-solid fa-backward"></i></button>
            </article>
            <img class="logoImg" src="images/logo.png" alt="로고이미지">
            <article class="clockArea"><i class="bottomBarIcon fa-regular fa-clock"></i>
                <span class="timeDisplay">12:00</span>
            </article>
        </section>
        <!-- ==script== -->
        <script>
            const paymentCard = document.getElementById("cardPaymentTouchArea");
            const pointsUsage = document.getElementById("pointsUsageTouchArea");
            // 카드 결제
            paymentCard.addEventListener("click", () => {
                window.location.href = "/earn_point";
            });
            // 포인트 사용
            pointsUsage.addEventListener("click", () => {
                window.location.href = "/user_verification";
            });
        </script>
    </div>
</body>

</html>