<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <!-- icon -->
    <script src="https://kit.fontawesome.com/611c1b2c45.js" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="style.css">
    <title>payment_point_selection_popup</title>
    <style>
        .earnPointPopup {
            width: 84rem;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            justify-content: center;
        }

        .earnPointTitle {
            width: 100%;
            font-size: 2.4rem;
            letter-spacing: .3rem;
            color: white;
            text-align: center;
        }

        .earnPointBtnWrapper {
            width: 80%;
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 2rem;
        }

        .earnPointBtn {
            width: 18rem;
            height: 18rem;
            background-color: #3D3F4D;
            font-size: 3.2rem;
            color: #ffffff;
            border: none;
            border-radius: 0.5rem;
            box-shadow:
            rgba(0, 0, 0, 0.4) 0px 2px 4px,
            rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
            rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            cursor: pointer;
        }

        .earnPointBtn:hover {
            background-color: #d4d4d41c;
        }

        .earnPointBtn:active {
            background-color: #d4d4d41c;
        }

        .showEarnPoint {
            width: 55%;
            height: 6rem;
            border: .15rem solid #fff;
            border-radius: 0.5rem;

        }

        .showEarnPointText,
        .showEarnPointTotal {
            font-size: 1.8rem;
            text-align: center;
            line-height: 6rem;
            color: #ffffff;
        }

        .showEarnPointTotal{
            color: #ffffff;
        }

        .earnPopupMarginTop {
            margin-top: 4rem;
        }
    </style>
</head>

<body>
    <!-- ===최상위 컨테이너=== -->
    <div class="wrap">
        <!-- ===레이아웃 영역=== -->
        <section class="layoutArea">
             <!-- ===사이드바 영역=== -->
             <!-- <section class="progressSidebar">
                <div class="progressSettings completedStep"><span class="stepLabel">영화<br>선택</span></div>
                <div class="progressSettings remainingStep"><span class="stepLabel">시간<br>선택</span></div>
                <div class="progressSettings remainingStep"><span class="stepLabel">좌석<br>선택</span></div>
                <div class="progressSettings remainingStep paymentStep"><span class="stepLabel">결제</span></div>
            </section> -->
            <!-- ===팝업 영역=== -->
            <section class="popupArea">
                <article class="popupBar">
                    <p class="popupTitle popupBarTextCommon">포인트 적립 안내</p>
                    <i class="popupBarTextCommon fa-solid fa-x"></i>
                </article>
                <section class="popupContent">
                    <div id="earnPointPopup" class="earnPointPopup">
                        <p id="earnPointTitle" class="earnPointTitle earnPopupMarginTop">포인트를 적립하시겠습니까?</p>
                        <div id="showEarnPoint" class="showEarnPoint earnPopupMarginTop">
                            <p class="showEarnPointText">적립 예정 포인트&nbsp;:&nbsp;<span class="showEarnPointTotal">1,000</span>원</p>
                        </div>
                        <div id="earnPointBtnWrapper" class="earnPointBtnWrapper earnPopupMarginTop">
                            <button id="earnPointNo" class="earnPointBtn">아니오</button>
                            <button id="earnPointYes" class="earnPointBtn">예</button>
                        </div>
                    </div>
                </section>
            </section>
        </section>
        <!-- ===하단바 영역=== -->
        <section class="bottomBar">
            <article class="barButtonsArea">
                <button class="barButtons staffCallButton">직원호출</button>
                <button class="barButtons"><i class="bottomBarIcon fa-solid fa-house"></i></button>
                <button class="barButtons"><i class="bottomBarIcon fa-solid fa-backward"></i></button>
            </article>
            <img class="logoImg" src="images/logo.png" alt="로고이미지">
            <article class="clockArea"><i class="bottomBarIcon fa-regular fa-clock"></i><span
                    class="timeDisplay">12:00</span>
            </article>
        </section>

    </div>
    <!-- ==script== -->
    <script>
        const earnPointYes = document.getElementById("earnPointYes");
        const earnPointNo = document.getElementById("earnPointNo");

        earnPointYes.addEventListener("click", () => {
            window.location.href = "/input_point";
        });

        earnPointNo.addEventListener("click", () => {
            window.location.href = "/buying";
        });
        
    </script>
</body>

</html>