<link rel="stylesheet" href="style/popup/completePaymentPopup.css">

<%- include("popupBackground") %>

<div id="completePaymentPopup" class="completePaymentPopup" >
    <div class="popupBar"></div>
    
    <div id="paymentInfoArea" class="paymentInfoArea">
        <h2 class="paymentCompleteMessage">결제가 완료 되었습니다.</h2>
        <div id="paymentPrice" class="paymentInfo">
            <h3 class="paymentInfoText">금액</h3>
            <h3 class="paymentInfoText">--원</h3>
        </div>
        <div id="discountPrice" class="paymentInfo">
            <h3 class="paymentInfoText">할인</h3>
            <h3 class="paymentInfoText">--원</h3>
        </div>
        <div id="totalPrice" class="paymentInfo">
            <h3 class="paymentInfoText">총 금액</h3>
            <h3 class="paymentInfoText">--원</h3>
        </div>
    </div>
    <div id="printReciptQuestion" class="printReciptQuestion">
        <h2 class="paymentCompleteMessage">영수증을 출력 하시겠습니까?</h2>
        <button class="printReciptQuestionBtn">아니요</button>
        <button class="printReciptQuestionBtn">예</button>
    </div>
</div>