<link rel="stylesheet" href="style/popup/printReceiptPopup.css">

<%- include("popupBackground") %>

<div id="printReciptPopup" class="printReciptPopup" >
    <div class="popupBar"></div>
    
    <div id="reciptImage" class="reciptImage">Recipt Image</div>
    <div id="reciptBtnWrapper" class="reciptBtnWrapper">
        <button id="printRecipt" class="reciptBtn" onclick="print()">인쇄</button>
        <button id="skipRecipt" class="reciptBtn">넘기기</button>
    </div>
</div>