<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <!-- icon -->
    <script src="https://kit.fontawesome.com/611c1b2c45.js" crossorigin="anonymous"></script>
    <!-- 외부 CSS 파일 링크 -->
    <link rel="stylesheet" href="style.css">

    <title>complete</title>
    <style>
        .popupContent {
            display: flex;
            padding: 5rem 2rem;
            align-items: center;
            flex-direction: column;
        }

        .popupContentText {
            position: relative;
            font-size: 2.2rem;
            width: 100%;
            text-align: center;
            margin: 1rem 0 1rem 0;
            color: rgb(192, 192, 192);
            z-index: 999;
        }

        /*  결제완료 이미지 박스 */
        .popupContentImg {
            width: 50rem;
            height: 30rem;
            margin-left: 9rem;
            background-image: url("images/payment_completed.png");
            background-repeat: no-repeat;
            background-size: cover;
            transform: scale(1.15);
        }

        .showTimerArea {
            height: 3rem;
            width: 100%;
        }

        .showTimer {
            font-size: 1.6rem;
            text-align: center;
        }
    </style>
</head>

<body></body>
<!-- ===최상위 컨테이너=== -->
<div class="wrap">
    <!-- ===레이아웃 영역=== -->
    <section class="layoutArea">
        <!-- ===사이드바 영역=== -->
        <!-- <section class="progressSidebar">
            <div class="progressSettings completedStep"><span class="stepLabel">영화<br>선택</span></div>
            <div class="progressSettings remainingStep"><span class="stepLabel">시간<br>선택</span></div>
            <div class="progressSettings remainingStep"><span class="stepLabel">좌석<br>선택</span></div>
            <div class="progressSettings remainingStep paymentStep"><span class="stepLabel">결제</span></div>
        </section> -->
        <!-- ===팝업 영역=== -->
        <section class="popupArea">
            <article class="popupBar">
                <p class="popupTitle popupBarTextCommon">결제 완료 안내</p>
                <i class="popupBarTextCommon fa-solid fa-x"></i>
            </article>
            <section class="popupContent">
                <!-- ~여기에 작성~ -->

                <!-- 타이틀 박스 -->
                <p class="popupContentText">결제가 완료되었습니다.</p>
                <p class="popupContentText"><span id="timer" class="popupContentText">5</span>초 후에 메인화면으로 돌아갑니다.</p>

                <!-- 결제완료 이미지 -->
                <div class="popupContentImg"></div>
            </section>
        </section>
    </section>
    <!-- ===하단바 영역=== -->
    <section class="bottomBar">
        <article class="barButtonsArea">
            <button class="barButtons staffCallButton">직원호출</button>
            <button class="barButtons"><i class="bottomBarIcon fa-solid fa-house"></i></button>
            <button class="barButtons"><i class="bottomBarIcon fa-solid fa-backward"></i></button>
        </article>
        <img class="logoImg" src="images/logo.png" alt="로고이미지">
        <article class="clockArea"><i class="bottomBarIcon fa-regular fa-clock"></i><span
                class="timeDisplay">12:00</span>
        </article>
    </section>

</div>
<!-- ==script== -->
<script>
    document.addEventListener("DOMContentLoaded", () => {// 5초뒤 종료
        const timer = document.getElementById("timer");
        timer.style.color = "white";
        const timerSecond = 5;
        for (let i = 1; i <= timerSecond; i++) {
            setTimeout(() => {
                timer.innerText = `${(timerSecond + 1) - i}`;

                if (i === timerSecond) {
                    window.location.href = "/";
                }
            }, i * 1000);
        }
    });
</script>
</body>

</html>