<!-- 현장예매 영역 -->
<section class="ticketBookingArea">
    <div id="ticketBookingTouchArea" class="ticketBookingTouchArea"></div>
    <img class="ticketBookingImg" src="./images/on-site_booking.png" alt="현장예매이미지">
</section>
<!-- 키패드 영역 -->
<section class="keypadBoxArea">
    <%- include("keypadFrame", { title: "예매 티켓 조회" } ) %>
</section>

<script>
    const ticketBookingTouchArea = document.getElementById("ticketBookingTouchArea");
    const checkBtn = document.getElementById("checkBtn");
    ticketBookingTouchArea.addEventListener("click", () => {
        window.location.href = "/movie_selection";
    });



    document.addEventListener("DOMContentLoaded", () => {
        const returnTouchPageSecond = 15;

        for (let i = 0; i < returnTouchPageSecond; i++) {
            setTimeout(() => {
                //console.log(`${returnTouchPageSecond - i}초 뒤에 터치 화면으로 돌아갑니다.`);
                if (i === returnTouchPageSecond - 1) {
                    //window.location.href = "/";
                }
            }, i * 1000);
        }
    });
    
    const runTimeSelection = async () => {
        const displayNumber = document.getElementById("phoneNumber");
        const settings = {
            method: "POST",
            headers: {
                "Accept": 'application/json',
                "Content-Type": 'application/json',
            },
            body: JSON.stringify({ checkInformation: displayNumber.value })
        }
        const response = await fetch("/checkUser", settings);
        const reservedData = await response.json();
        console.log(reservedData)
        //alert("?")
        if ( reservedData !== "no reservation" ) {
            window.location.href = `/ticket_info?num=${displayNumber.value}`;
        } else {
            console.log("d여긴가?")
            displayNumber.value = "잘못된 예매 번호 입니다.";
        }
    };
    checkBtn.addEventListener("click", () => {
        //window.location.href = "/ticket_info";
        runTimeSelection();
    });
</script>

<style>
    .layoutArea {
        display: flex;
    }

    .bookingNumberText {
        color: white;
        margin-bottom: 2rem;
        font-size: 2.4rem;
    }

    .keypadBoxArea {
        position: relative;
        width: 50%;
        height: 100%;
    }

    .keypadArea {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 35rem;
        padding: 2rem;
        height: 37.5rem;
        align-content: center;
        padding-left: 2.5rem;
        text-align: center;
    }

    /* 현장예매 영역 */
    .ticketBookingArea {
        position: relative;
        width: 50%;
        height: 100%;
        background-color: #323440db;
    }

    /* 현장예매 이미지 */
    .ticketBookingImg {
        position: absolute;
        display: block;
        width: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 1rem;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.455);
    }

    .ticketBookingTouchArea {
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent;
        left: 0;
        top: 0;
        z-index: 100;
    }

    .ticketBookingTouchArea:hover~.ticketBookingImg {
        box-shadow: 0 0 12px 10px rgba(0, 0, 0, 0.355);
    }
</style>