<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <!-- icon -->
    <script src="https://kit.fontawesome.com/611c1b2c45.js" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="style.css">
    <title>main_temp</title>
    <style>
      h1{
        font-size: 10rem;
        color: #fff;
        text-align: center;
        background: #222;
      }
    </style>
</head>

<body>
    <!-- ===최상위 컨테이너=== -->
    <div class="wrap">
        <!-- ===레이아웃 영역=== -->
        <section class="layoutArea">
             <!-- ~여기에 작성~ -->
              <h1 id="touchScreen">메인페이지 => 터치해주세요</h1>
        </section>
        <!-- ===하단바 영역=== -->
        <section class="bottomBar">
            <article class="barButtonsArea">
                <button class="barButtons staffCallButton">직원호출</button>
                <button class="barButtons"><i class="bottomBarIcon fa-solid fa-house"></i></button>
                <button class="barButtons"><i class="bottomBarIcon fa-solid fa-backward"></i></button>
            </article>
            <img class="logoImg" src="images/logo.png" alt="로고이미지">
            <article class="clockArea"><i class="bottomBarIcon fa-regular fa-clock"></i><span
                    class="timeDisplay">12:00</span>
            </article>
        </section>

    </div>
    <script>
      const touchScreen = document.getElementById("touchScreen");
      touchScreen.addEventListener("click",()=>{
        window.location.href="/next";
      })
    </script>
</body>

</html>