<link rel="stylesheet" href="style/movieChoice_time.css">

<%- include("denominator/movieChoiceToggle")  %>

<!-- #포스터영역# -->
<section class="mainPosterContainer">
    <!-- #영화별선택# -->
    <article class="posterGallery">
        <div class="posterItem">포스터영역</div>
        <div class="posterItem">포스터영역</div>
        <div class="posterItem">포스터영역</div>
        <div class="posterItem">포스터영역</div>
        <div class="posterItem">포스터영역</div>
        <div class="posterItem">포스터영역</div>
        <div class="posterItem">포스터영역</div>
        <div class="posterItem">포스터영역</div>
    </article>
    <!-- #시간대별선택# -->
    <section class="scheduleGallery">
        <div class="schedulePoster"></div>
        <article class="scheduleSection">
            <h2 class="movietitle">영화제목</h2>
            <div class="timeContainer">
                <div class="timeSlot">11:00</div>
                <div class="timeSlot">12:00</div>
                <div class="timeSlot">13:00</div>
                <div class="timeSlot">14:00</div>
                <div class="timeSlot">15:00</div>
                <div class="timeSlot">16:00</div>
                <div class="timeSlot">17:00</div>
                <div class="timeSlot">18:00</div>
                <div class="timeSlot">19:00</div>
            </div>
        </article>
    </section>
</section>