<link rel="stylesheet" href="style/movieChoice_movie.css">

<!-- #영화/시간 토글# -->
<%- include("denominator/movieChoiceToggle")  %>

<!-- #영화별선택 > 포스터영역# -->
<section class="mainPosterContainer">
    <article class="posterGallery">
        <div class="posterItem">포스터영역</div>
        <div class="posterItem">포스터영역</div>
        <div class="posterItem">포스터영역</div>
        <div class="posterItem">포스터영역</div>
        <div class="posterItem">포스터영역</div>
        <div class="posterItem">포스터영역</div>
        <div class="posterItem">포스터영역</div>
        <div class="posterItem">포스터영역</div>
    </article>

    <!-- ***이하 테스트 -->
    
    <!-- ***테스트 종료 -->
</section>



