<section class="popupArea">
    <article class="popupBar">
        <p class="popupTitle popupBarTextCommon">관람인원을 선택해주세요.</p>
        <i class="popupBarTextCommon fa-solid fa-x"></i>
    </article>
    <section class="popupContent">
        <!-- ~여기에 작성~ -->
        <div class="adult selectPeople">
            <div class="number-selection">
                <div class="ticketTitle">성인</div>

                <input type="radio" id="adult-0" name="adult" value="0" />
                <label for="adult-0">0</label>

                <input type="radio" id="adult-1" name="adult" value="1" />
                <label for="adult-1">1</label>

                <input type="radio" id="adult-2" name="adult" value="2" />
                <label for="adult-2">2</label>

                <input type="radio" id="adult-3" name="adult" value="3" />
                <label for="adult-3">3</label>

                <input type="radio" id="adult-4" name="adult" value="4" />
                <label for="adult-4">4</label>

                <input type="radio" id="adult-5" name="adult" value="5" />
                <label for="adult-5">5</label>

                <input type="radio" id="adult-6" name="adult" value="6" />
                <label for="adult-6">6</label>

                <input type="radio" id="adult-7" name="adult" value="7" />
                <label for="adult-7">7</label>

                <input type="radio" id="adult-8" name="adult" value="8" />
                <label for="adult-8">8</label>
            </div>
        </div>
        <!-- 청소년 부분 숫자 -->
        <div class="youth selectPeople">
            <div class="number-selection">
                <div class="ticketTitle">청소년</div>

                <input type="radio" id="youth-0" name="youth" value="0" />
                <label for="youth-0">0</label>

                <input type="radio" id="youth-1" name="youth" value="1" />
                <label for="youth-1">1</label>

                <input type="radio" id="youth-2" name="youth" value="2" />
                <label for="youth-2">2</label>

                <input type="radio" id="youth-3" name="youth" value="3" />
                <label for="youth-3">3</label>

                <input type="radio" id="youth-4" name="youth" value="4" />
                <label for="youth-4">4</label>

                <input type="radio" id="youth-5" name="youth" value="5" />
                <label for="youth-5">5</label>

                <input type="radio" id="youth-6" name="youth" value="6" />
                <label for="youth-6">6</label>

                <input type="radio" id="youth-7" name="youth" value="7" />
                <label for="youth-7">7</label>

                <input type="radio" id="youth-8" name="youth" value="8" />
                <label for="youth-8">8</label>
            </div>
        </div>

        <!-- 우대 부분 숫자 -->
        <div class="youth selectPeople">
            <div class="number-selection">
                <div class="ticketTitle">우대</div>

                <input type="radio" id="special-0" name="special" value="0" />
                <label for="special-0">0</label>

                <input type="radio" id="special-1" name="special" value="1" />
                <label for="special-1">1</label>

                <input type="radio" id="special-2" name="special" value="2" />
                <label for="special-2">2</label>

                <input type="radio" id="special-3" name="special" value="3" />
                <label for="special-3">3</label>

                <input type="radio" id="special-4" name="special" value="4" />
                <label for="special-4">4</label>

                <input type="radio" id="special-5" name="special" value="5" />
                <label for="special-5">5</label>

                <input type="radio" id="special-6" name="special" value="6" />
                <label for="special-6">6</label>

                <input type="radio" id="special-7" name="special" value="7" />
                <label for="special-7">7</label>

                <input type="radio" id="special-8" name="special" value="8" />
                <label for="special-8">8</label>
            </div>
        </div>


        <button id="selectPeopleBtn" class="selectPeopleBtn">선택 완료</button>
    </section>
</section>