<!-- ===팝업 영역=== -->
<section class="popupArea">
    <article class="popupBar">
        <p class="popupTitle popupBarTextCommon">회원번호 입력 안내</p>
        <i class="popupBarTextCommon fa-solid fa-x"></i>
    </article>
    <section class="popupContent">
        <!-- 키패드 영역 -->
        <h2 class="popupTitleText">회원번호를 입력해주세요</h2>
        <section class="keypadArea">
            <%- include("keypadFrame") %>
        </section>
    </section>
</section>

<script>
    const checkBtn = document.getElementById("checkBtn");
    checkBtn.addEventListener("click",()=>{
        window.location.href = "/point_confirmation";
    });
</script>

<style>
    .popupContent {
        padding-top: 3.5rem;
    }

    .popupTitleText{
        font-size: 2rem;
        letter-spacing: 1px;
        color: #FFFFFF;
        padding-bottom: 2.5rem;
    }

    .keypadArea {
        height: 37.5rem;
    }
</style>

