<!-- ===팝업 영역=== -->
<section id="popup_select_movie_time" class="popupArea">
    <%- include( popupContent ) %>
</section>

<script>
    const closePopup = document.getElementById("closePopup");
    closePopup.style = "cursor: pointer;";
    closePopup.addEventListener( "click", () => {
        console.log("팝업 종료")
    });
</script>