<section class="ticketBookingArea">
    <div id="ticketBookingTouchArea" class="ticketBookingTouchArea"></div>
    <img class="ticketBookingImg" src="./images/on-site_booking.png" alt="현장예매이미지">
</section>
<!-- 키패드 영역 -->
<section class="keypadBoxArea">
    <section class="keypadArea">
        <p class="bookingNumberText">
            예매 티켓 조회
        </p>
        <%- include("keypadFrame") %>
    </section>
</section>

<script>
    const ticketBookingTouchArea = document.getElementById("ticketBookingTouchArea");

    ticketBookingTouchArea.addEventListener("click", () => {
        window.location.href = "/movie_selection";
    });
</script>