<link rel="stylesheet" href="style/touchPage.css">

<section class="bar">
    <img class="logoImg"
        src="https://media.discordapp.net/attachments/1281201387681611874/1282596854453895168/KakaoTalk_20240909_160013502.png?ex=66e097a7&is=66df4627&hm=9345dc8f5ce1e64f459f8eaea53250145d9baacec23a568d130f5b71180c6a8d&=&format=webp&quality=lossless"
        alt="logo">
    <span id="barClockArea" class="timeArea"><i class="fa-regular fa-clock"></i>시간부분</span>
</section>
<section>
    <section class="movieTeaserArea">
        <video class="movieTeaser" src="./video/[파일럿] ✨조정석 is Back!✨ 런칭 예고편.mp4" autoplay muted controls>비디오가 지원되지 않습니다.</video>
    </section>
</section>
<section class="bar">
    <p class="tapTarget">화면을 터치해 주세요.</p>
</section>
<div id="touchLayer" class="touchLayer"></div>

<script src="/js/touchPage.js"></script>