<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <!-- icon -->
    <script src="https://kit.fontawesome.com/611c1b2c45.js" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="keypad.css">
    <title>user_verification_popup</title>
    <style>
        .popupContent {
            padding-top: 3.5rem;
        }

        .popupTitleText{
            font-size: 2rem;
            letter-spacing: 1px;
            color: #FFFFFF;
            padding-bottom: 2.5rem;
        }

        .keypadArea {
            height: 37.5rem;
        }
    </style>

</head>
<body>
    <!-- ===최상위 컨테이너=== -->
    <div class="wrap">
        <!-- ===레이아웃 영역=== -->
        <section class="layoutArea">
            <!-- ===팝업 영역=== -->
            <section class="popupArea">
                <article class="popupBar">
                    <p class="popupTitle popupBarTextCommon">회원번호 입력 안내</p>
                    <i class="popupBarTextCommon fa-solid fa-x"></i>
                </article>
                <section class="popupContent">
                    <!-- 키패드 영역 -->
                     <h2 class="popupTitleText">회원번호를 입력해주세요</h2>
                    <section class="keypadArea">
                        <div class="phoneNumber"></div>
                        <button class="key">1</button>
                        <button class="key">2</button>
                        <button class="key">3</button>
                        <button class="key">4</button>
                        <button class="key">5</button>
                        <button class="key">6</button>
                        <button class="key">7</button>
                        <button class="key">8</button>
                        <button class="key">9</button>
                        <button class="key delete"><i class="fa-solid fa-delete-left"></i></button>
                        <button class="key">0</button>
                        <button class="key">재입력</button>
                        <button id="checkBtn" class="check">확인</button>
                    </section>
                </section>
            </section>
        </section>
        <!-- ===하단바 영역=== -->
        <section class="bottomBar">
            <article class="barButtonsArea">
                <button class="barButtons staffCallButton">직원호출</button>
                <button class="barButtons"><i class="bottomBarIcon fa-solid fa-house"></i></button>
                <button class="barButtons"><i class="bottomBarIcon fa-solid fa-backward"></i></button>
            </article>
            <img class="logoImg" src="images/logo.png" alt="로고이미지">
            <article class="clockArea"><i class="bottomBarIcon fa-regular fa-clock"></i><span
                    class="timeDisplay">12:00</span>
            </article>
        </section>

    </div>
    <script>
        const checkBtn = document.getElementById("checkBtn");
        checkBtn.addEventListener("click",()=>{
            window.location.href = "/point_confirmation";
        })
    </script>
</body>

</html>